body{
  background-color: deepskyblue;
  font: 1em sans-serif;
  color: black;
}

.header{
  background-color: purple;
  color: white;
  padding: 20px;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navlinks{
  list-style: none;
  display: flex;
  gap: 20px;
}

.navlinks a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.container{
  text-align: center;
  padding: 40px 0;
}

.buttons{
  margin-top: 15px;
}

.budget-btn{
  padding: 10px 25px;
  margin: 5px;
  border: 2px solid blue;
  background-color: white;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
  transition: 0.3s;
}

.budget-btn:hover {
  background-color: darkblue;
  color: white;
}